
<div class="title">
</div>
<% if @trails.any? %>
    <div id="trails">
        <% @trails.each do |trail| %>
            <a href="/trails/<%= trail.id %>">
                <div class="trail-card">
                    <img src="images/rangeViewTrail.png" alt="" />
                    <%= trail.trail_name %>
                </div>
            </a>
        <% end %>
    </div>
<% else %>
    <p>No trails have been added yet</p>
<% end %>
