<link href="/stylesheets/allTrails.css" rel="stylesheet" type="text/css">


<% if @trails.any? %>
    <div id="trails">
        <% @trails.each do |trail| %>
            <a href="/trails/<%= trail.id %>">
                <div class="trail-card">
                    <h2><%= trail.trail_name %></h2>
                    <p>trail description</p>
                </div>
            </a>
        <% end %>
    </div>
<% else %>
    <p>No trails have been added yet</p>
<% end %>

<div id="trails">

</div>

<script src="/scripts/opendata.js"></script>