
<div class="title">
</div>
<% if @trails.any? %>
    <div id="trails">
        <% @trails.each do |trail| %>
            <a href="/trails/<%= trail.id %>"><%= trail.trail_name %></a>
        <% end %>
    </div>
<% else %>
    <p>No trails have been added yet</p>
<% end %>
