<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Trails</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
                <div id="hero_text">
                <h1>Mike's Hikes</h1>
                <h2>Keepin' track of the trails I hike</h2>
                </div>
        </header>
        <div id="container">
            <div id="titleAndTag">
                <div class="hamburger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
                <%= erb :_nav %>
            <%= yield %>
        </div>
    </body>
</html>
