<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trails</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <div id="titleAndTag">
        <h1>Trails of Boulder County</h1>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <div id="below">
    <%= erb :_nav %>
    </div>
</header>
   <div id="container">
        <%= yield %>
   </div>
</body>
</html>